In [1]:
import pandas as pd
import numpy as np

## 1) How-to-count-distance-to-the-previous-zero

In [11]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#df = df.assign(Y=[([0]+df.X)[:idx][::-1].index(0) for idx in range(1, len(list(df.X))+2)][1:])
A = []

def calDistance(series):
    i=0
    #print(series)
    for ele in series:
        if ele != 0 :
            i+=1
        else:
            i=0
        A.append(i)
    
calDistance(df.X)
df.assign(Y=A)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [2]:
i = pd.date_range('2015-01-01','2015-12-31',  freq='B')
ts = pd.DataFrame({'A': np.random.randint(low=0, high = 999,size= 261)}, index=i)

## 3) Find the sum of the values in s for every Wednesday

In [9]:
df_Wed = ts[ts.index.weekday_name == 'Wednesday'].sum() 
wedSum = ts[ts.index.weekday == 2].sum() 
print(df_Wed)
print(wedSum)

A    25729
dtype: int64
A    25729
dtype: int64

## 4) Average For each calendar month

In [10]:
ts.groupby([ts.index.month] ).mean()

             A
1   494.954545
2   483.800000
3   419.409091
4   443.090909
5   570.952381
6   567.590909
7   529.869565
8   467.476190
9   559.727273
10  475.363636
11  540.952381
12  444.782609

## 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [7]:
import calendar as c
for i in range(0,12,4):
    start_month = i+1;
    end_month = start_month + 3
    start_month_name = c.month_name[start_month]
    end_month_name = c.month_name[end_month]
    
    #print("Start Month : " + start_month_name)
    #print("End Month : " + end_month_name)
    df = ts.loc[(ts.index.month > start_month -1)&  (ts.index.month <= end_month)]
    print("========================================================")
    print("Max value between " + start_month_name + " and " + end_month_name +" \n " +str(df.loc[df.A.values == df.A.max()]) + "\n")
    print("========================================================")

========================================================
Max value between January and April
               A
2015-02-10  946

========================================================
========================================================
Max value between May and August
               A
2015-07-10  977

========================================================
========================================================
Max value between September and December
               A
2015-11-09  980

========================================================